.AppointmenStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 24px;
  gap: 48px;

  .StatusItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    column-gap: 12px;
    cursor: pointer;

    .StatusText {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      flex-direction: column;
      width: 100%;

      .StatusTitle {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #212121;
        white-space: nowrap;
      }

      .StatusDescription {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #919191;
      }

      .StatusTitleGrey {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #919191;
      }
    }
  }
}

.Accordian {
  flex-shrink: 0;
}
