.authcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 16px;
}

.options {
  border-top: 1px solid #efebff;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logincontainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .inputempty {
    background: #f4f4f4;
    border-radius: 12px;
  }

  .inputfilled {
    background: #ffffff;
    border: 1px solid #dbd1f8;
    border-radius: 12px;
  }

  .inputcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px 16px;

    width: 343px;
    height: 52px;

    .filled {
      transform: translate(0, -24px) scale(0.875);
      color: #757575;
    }
    .input {
      background: transparent;
      border: none;
      color: #212121;
      font-weight: 500;
      font-size: 16px;
      width: 80%;
      line-height: 20px;
      font-family: "Poppins", sans-serif;
      position: absolute;
      bottom: 6px;
    }
    .input:-webkit-autofill,
    .input:-webkit-autofill:hover,
    .input:-webkit-autofill:focus,
    .input:-webkit-autofill:active {
      -webkit-box-shadow: none !important;
      border: none;
    }
  }
  .inputcontainer label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, -50%) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #212121;
    left: 16px;
    top: 50%;
    padding-block: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .inputcontainer:focus-within label {
    transform: translate(0, -24px) scale(0.875);
    color: #757575;
  }

  .passwordcontainer {
    margin-top: 24px;
    position: relative;
    .hidepassword {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
    }
  }
  .button {
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 16px 8px;
    gap: 8px;

    width: 343px;
    height: 56px;

    background-color: #5d5fef;

    box-shadow: 0px 1px 0px #c7d8e9;
    border-radius: 12px;

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    color: #ffffff;
  }
  .forgotpass {
    cursor: pointer;
    width: 100%;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #757575;
  }
}

/* stles for the registration form */
.registercontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;

  .inputfilled {
    background: #ffffff;
    border: 1px solid #dbd1f8;
    border-radius: 12px;
  }
  .inputempty {
    background: #f4f4f4;
    border-radius: 12px;
  }
  .inputerror {
    background: #ffffff;
    border: 1px solid #e34230;
    border-radius: 12px;
  }
  .inputcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 24px;
    padding: 10px 16px;
    width: 100%;
    height: 52px;

    .labelfilled {
      transform: translate(0, -24px) scale(0.875);
      color: #757575;
      font-family: "Poppins", sans-serif;
    }
    .input:-webkit-autofill,
    .input:-webkit-autofill:hover,
    .input:-webkit-autofill:focus,
    .input:-webkit-autofill:active {
      -webkit-box-shadow: none !important;
      border: none;
      font-family: "Poppins", sans-serif;
    }
    .label {
      font-family: "Poppins", sans-serif;
      position: absolute;
      pointer-events: none;
      transform: translate(0, -50%) scale(1);
      transform-origin: top left;
      transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      color: #212121;
      left: 16px;
      top: 50%;
      padding-block: 5px;

      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .input:focus-visible {
      outline: none;
      border: none;
    }
    .input {
      position: absolute;
      bottom: 6px;

      background: transparent;
      color: #212121;
      font-weight: 500;
      font-size: 16px;
      width: 80%;
      line-height: 20px;
      border: none;
      font-family: "Poppins", sans-serif;
    }
  }
  .errors {
    color: #e34230;
    width: 100%;
    text-align: left;
    margin-left: 16px;
  }
  .inputcontainer:focus-within label {
    transform: translate(0, -24px) scale(0.875);
    color: #757575;
  }

  .nameandsurname {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
  }

  .smscodebutton {
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 12px;
    padding: 12px 5px;
    color: #ffffff;
    min-width: 50px;
    border: none;
  }

  .hidepasswordicon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }

  .checkbox {
    background-color: transparent;
    border: none;
  }

  .terms {
    .term {
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      column-gap: 12px;
      background-color: transparent;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;

      color: #212121;
      .modal {
        cursor: pointer;
        color: #5d5fef;
      }
    }
  }

  .submitbutton {
    margin-top: 24px;
    padding: 16px 8px;
    gap: 8px;

    width: 100%;
    max-width: 343px;
    height: 56px;

    border: none;
    box-shadow: 0px 1px 0px #c7d8e9;
    border-radius: 12px;

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    color: #ffffff;
    margin-inline: auto;
    background-color: #5d5fef;
  }

  .forgotpass {
    cursor: pointer;
    margin-top: 32px;
    width: 100%;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #757575;
  }

  .h3 {
    padding-inline: 0px;
    margin-top: 16px;
    color: #212121;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .birthDate {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    .item {
      height: 52px;
      background: #f4f4f4;
      border-radius: 12px;
      padding-inline: 8px;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #212121;

      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      position: relative;
      .selectionList {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 45px;
        left: 0;
        z-index: 10;
        background-color: white;
        max-height: 250px;
        overflow-y: scroll;
        .selection + .selection {
          border-top: 1px solid grey;
        }
        .selection {
          color: #212121;

          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          padding: 8px 4px;
        }
      }
    }
    .filled {
      background: #ffffff;
      border: 1px solid #dbd1f8;
    }
  }
}

.submitbutton {
  margin-top: 24px;
  padding: 16px 8px;
  gap: 8px;

  width: 100%;
  max-width: 343px;
  height: 56px;

  box-shadow: 0px 1px 0px #c7d8e9;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: #ffffff;
  padding-inline: auto;
  background-color: #5d5fef;
}

.contract {
  color: var(--c-text-color) !important;

  .button {
    display: contents;
    color: var(--secondary) !important;
  }
}
